<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="InputFile" value="C:\Users\genesys\Documents\Visual Studio 2017\Projects\Solution2\ConsoleApp1\bin\Debug\input.txt"/>
		<add key="OutputFile" value="C:\Users\genesys\Documents\Visual Studio 2017\Projects\Solution2\ConsoleApp1\bin\Debug\output.txt"/>
	</appSettings>
</configuration>